<script setup lang="ts">
import FancyButtonVue from "@/components/FancyButton.vue";
import { mdiCursorPointer, mdiHeartOutline } from "@mdi/js";
</script>

<template>
  <v-cotainer>
    <v-row>
      <v-col
        ><FancyButtonVue
          ><v-icon :icon="mdiHeartOutline"></v-icon>Love me
          <template v-slot:tail> Tail </template>
        </FancyButtonVue></v-col
      >
      <v-col
        ><FancyButtonVue
          ><template #tail><v-icon :icon="mdiCursorPointer"></v-icon></template
          >Click Me
        </FancyButtonVue>
      </v-col>
    </v-row>
  </v-cotainer>
</template>
