<script setup lang="ts">
import {
  mdiAccountCircle,
  mdiFacebook,
  mdiInstagram,
  mdiYoutube,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" width="100%" height="75%" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
          >
            <v-avatar color="grey" size="250" rounded="0">
              <v-img
                cover
                src="https://lh3.googleusercontent.com/a/AEdFTp56y4GfGw7q9nCOB5jxaexQA5AqSYZ1FqDv4KrY=s360-p-rw-no"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Jattarong Permsin"
              subtitle="Computer Science"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <h2><v-icon :icon="mdiAccountCircle"></v-icon>Portfolio</h2>
      <br />
      <br />
      <br />
      <v-table id="table">
        <thead>
          <tr>
            <th>ชื่อ - นามสกุล</th>
            <th>ประวัติการศึกษา</th>
            <th>สิ่งที่ชอบ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>จัตตรงณ์ เพิ่มศิลป์</td>
            <td>
              <p>
                ระดับมหาวิทยาลัย: คณะวิทยาการสารสนเทศ สขาวิทยาการคอมพิวเตอร์
              </p>
              <p>ระดับมัธยมการศึกษาปีที่ 1 - 6: โรงเรียนดาราสมุทรศรีราชา</p>
            </td>
            <td>เกมส์, อนิเมะ</td>
          </tr>
        </tbody>
      </v-table>
    </v-row>
    <v-row justify="space-evenly" class="text-center">
      <v-col>
        <v-btn
          :icon="mdiFacebook"
          color="indigo darken-1"
          size="x-large"
          href="https://www.facebook.com/profile.php?id=100009681888659"
        ></v-btn>
      </v-col>
      <v-col>
        <v-btn
          :icon="mdiInstagram"
          color="pink darken-2"
          size="x-large"
          href="https://www.instagram.com/g.norattaj_/"
        ></v-btn>
      </v-col>
      <v-col>
        <v-btn
          :icon="mdiYoutube"
          color="red darken-4"
          size="x-large"
          href="https://www.youtube.com/channel/UCkNluUh_34eHCdlb6kXVDbg"
        ></v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>
